{{#discus_shortname}}
<script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
//-->
</script>
{{/discus_shortname}}
<div class="post">
    <p class="date" title="{{{post_date_since_now}}}">{{{post_date}}}</p>
<div class="entry">
<h2>{{{link_to_entry}}}</h2>

    <p class="meta">
    {{#labels}}
      <% entry.labels.each do |x| %>
        <%= link_to x, :route => :label, :label => x %>
      <% end %>
      {{/labels}}
    </p>


</div>
{{{c}}}

<p> </p>

{{#as_post_code}}}
<hr />
<script type="text/javascript"><!--
google_ad_client = "{{{as_client}}}";
/* giant ad */
google_ad_slot = "{{{as_post_code}}}";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

{{/as_post_code}}

{{#discus_shortname}}
<hr />

<a href="#comment_box" onclick="toggle_visibility('comment_box');">show/hide comment box</a>
<div id="comment_box" style="display: none">
<a name="comments"></a>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = '{{{discus_shortname}}}'; // required: replace example with your forum shortname

    var disqus_identifier = <%= "\'" + url_for_current + "\'" %>;
    var disqus_url = <%= "\'" + full_url_for_current + "\'" %>;

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
</div>
{{/discus_shortname}}
