{{#pb}}
<hr />
<div class="pageblock">
{{{prev_page}}}
<span class="nextpage">{{{next_page}}}</span>
</div>
{{/pb}}

<p> </p>
{{#as_list_code}}
<hr />
<script type="text/javascript"><!--
google_ad_client = "{{{as_client}}}";
google_ad_slot = "{{{as_list_code}}}";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
{{/as_list_code}}

{{#disqus_shortname}}
<script type="text/javascript">
  var disqus_shortname = "{{{disqus_shortname}}}"
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
{{/disqus_shortname}}
