<div class="post">
  <p class="date">{{{post_date}}}</p>
<div class="entry">
<h2><a href="{{{link_to_entry}}}">{{{post_title}}}</a></h2>
{{#labels}}
  <p class="meta">
    {{{labels}}}
  </p>
{{/labels}}
</div>
  {{{c}}}
  <a  href="{{{app_url}}}{{{link_to_entry}}}#disqus_thread">permalink</a>.
</div>
