{{#pb}}
<div class="pageblock">
<% for i in 0...pages %>
  <% if i == page %><span class="currentpagelink"><%= sprintf "%2d", i %></span><% else %><%= link_to_current sprintf("%2d", i), :page => i, :html_opts => { :class => "pagelink" } %><% end %>
  {{{prev_page}}}
{{{next_page}}}
</div>
{{/pb}}

<p> </p>
<hr />
<script type="text/javascript"><!--
google_ad_client = "ca-pub-4030105606450175";
/* giant ad */
google_ad_slot = "0180354197";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

<script type="text/javascript">
  var disqus_shortname = 'outerhaven';
  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
