<div class="post">
  <p class="date" title="{{{post_date_since_now}}}">{{{post_date}}}</p>
<div class="entry">
<h2>{{{link_to_entry}}}</h2>
{{#labels}}
  <p class="meta">
    {{{labels}}}
  </p>
{{/labels}}
</div>
  {{{c}}}
<%= link_to "permalink", :route => :entry, :id => e.id, :anchor => "disqus_thread" %>.
</div>
